.Button {
    all: unset;
    color: white;
    background: tomato;
    cursor: pointer;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.Button:hover{
    background: orangered;
    opacity: 0.7;
}